{% extends "base.html" %}

{% block content %}
<h1>Créer une nouvelle tâche</h1>
<form method="POST">
    {{ form.hidden_tag() }}  <!-- CSRF protection -->

    <div class="form-group">
        {{ form.name.label }}
        {{ form.name(class="form-control") }}
    </div>

    <div class="form-group">
        {{ form.source.label }}
        {{ form.source(class="form-control") }}
    </div>

    <div class="form-group">
        {{ form.destination.label }}
        {{ form.destination(class="form-control") }}
    </div>

    {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}